.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1499px;
	height:1024px;
	position:absolute;
}
.e62_8 { 
	background-color:rgba(48.87499898672104, 48.87499898672104, 48.87499898672104, 1);
	width:2000px;
	height:1500px;
	position:absolute;
	left:-10px;
	top:-100px;
}
.e1_3 { 
	width:577px;
	height:433px;
	position:absolute;
	left:451px;
	top:-34px;
	background-image:url(página\ 1/honda_honda_civic_civic_wallpaper_preview_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_4 { 
	box-shadow:10px 10px 10px rgba(255, 0, 0, 1);
	background-color:rgba(0, 0, 0, 1);
	width:1385px;
	height:92px;
	position:absolute;
	left:200px;
	top:450px;
}
.e62_2 { 
	box-shadow:10px 10px 10px rgba(255, 0, 0, 1);
	background-color:rgba(0, 0, 0, 1);
	width:420px;
	height:109px;
	position:absolute;
	left:300px;
	top:900px;
}
.e62_6 { 
	box-shadow:10px 10px 10px rgba(255, 0, 0, 1);
	background-color:rgba(0, 0, 0, 1);
	width:473px;
	height:109px;
	position:absolute;
	left:1000px;
	top:900px;
}
.e1_6 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:53px;
	position:absolute;
	left:300px;
	top:480px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:undefined;
}
.e62_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:331px;
	height:53px;
	position:absolute;
	left:350px;
	top:940px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e62_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:53px;
	position:absolute;
	left:1050px;
	top:940px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e1_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:169px;
	height:29px;
	position:absolute;
	left:500px;
	top:480px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e1_8 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:23px;
	position:absolute;
	left:250px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e1_9 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:171px;
	height:45px;
	position:absolute;
	left:500px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e1_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:148px;
	height:23px;
	position:absolute;
	left:780px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e1_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:10px;
	position:absolute;
	left:1028px;
	top:716px;
}
.e26_9 { 
	box-shadow:10px 5px 4px rgba(255, 0, 0, 1);
	background-color:rgba(6.375000094994903, 6.375000094994903, 6.375000094994903, 1);
	width:383px;
	height:259px;
	position:absolute;
	left:600px;
	top:-400px;
}
.26_9 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_14 { 
	color:rgba(255, 255, 255, 1);
	width:401px;
	height:226px;
	position:absolute;
	left:620px;
	top:-400px;
	font-family:Irish Grover;
	text-align:left;
	font-size:40px;
	letter-spacing:9.5;
}
.e26_8 { 
	width:395px;
	height:275px;
	position:absolute;
	left:-450px;
	top:-450px;
	background-image:url(página\ 1/79689a07dc30655a046c49e53956c7bf_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_13 { 
	color:rgba(255, 255, 255, 1);
	width:485px;
	height:112px;
	position:absolute;
	left:-390px;
	top:-350px;
	font-family:Irish Grover;
	text-align:left;
	font-size:36px;
	letter-spacing:9.5;
}
